<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('indexCtrl', function($scope, $http, $q) {
			document.getElementById("result").innerHTML = sessionStorage.userID;
			
			$scope.user = "Manager";
			
			$scope.inv = true
			$scope.recipe = true
			$scope.edit = true
			$scope.delete = true
			$scope.make = true
			$scope.ing = true
			$scope.view = true
			$scope.add = true
			$scope.remove = true
			$scope.order = true
			$scope.pickup = true
				
			if($scope.user != "Manager") {
				$scope.add = false
				$scope.remove = false
			}
			if($scope.user != "Staff" && $scope.user != "Manager") {
				$scope.inv = false
				$scope.recipe = false
				$scope.edit = false
				$scope.delete = false
				$scope.make = false
				$scope.ing = false
				$scope.view = false
			}
		});
		/*]]>*/
	</script>
	<div ng-app="myApp"
		ng-controller="indexCtrl as ctrl">
		<div class="margins"> </div>
		<div class="margins"> <b id = "result" class="userHeader"></b></div>
		<div class="margins"> </div>
		<center>
		<h1>Coffee Maker</h1>
		<h2>Available Options</h2>
		<ul class="listCenter">
			<li ng-show="inv"><a href="inventory.html">Update Inventory</a></li>
			<li ng-show="recipe"><a href="recipe.html">Add a Recipe</a></li>
			<li ng-show="edit"><a href="editrecipe.html">Edit Recipe</a></li>
			<li ng-show="delete"><a href="deleterecipe.html">Delete Recipe</a></li>
			<li ng-show="ing"><a href="ingredient.html">Add Ingredient</a></li>
			<li ng-show="view"><a href="vieworders.html">View Orders</a></li>
			<li ng-show="add"><a href="addbarista.html">Add Barista</a></li>
			<li ng-show="remove"><a href="removebarista.html">Remove Barista</a></li>
			<li ng-show="order"><a href="order.html">Place Order</a></li>
			<li ng-show="pickup"><a href="pickup.html">Pickup Order</a></li>
		</ul>
		</center>
		<div class="margins"> </div>
		<div class="margins"> </div>
		<div class="margins"> </div>
	</div>
</body>
</html>