<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function($scope, $http, $q) {
			document.getElementById("result").innerHTML = sessionStorage.userID;
			
			$scope.user = sessionStorage.userType;
			
			$http.get("/api/v1/recipes").then(function(response) {
				$scope.recipes = response.data;
			});

			$scope.make = function() {
				var idx = 0;
				for(recipe in $scope.recipes){
					if($scope.recipes[idx].name == $scope.name){
						var recipeObject = $scope.recipes[idx];
					}
					idx++;
				}
				idx = 0;
				var ings = [];
				for(ingredient in recipeObject.ingredients){
					ing = {name : ingredient.name, amount : ingredient.amount};
					ings[idx] = ing;
					idx++;
				}
				var orderRecipe = {
					id : recipeObject.id,
					name : recipeObject.name,
					price : recipeObject.price,
					ingredients : ings
				}
				var order = {
					customerName : sessionStorage.userID,
					orderStatus : 0,
					orderID : 0,
					review : "",
					placementTime : Date.now(),
					payment : $scope.amtPaid,
					recipe : orderRecipe
				};
				console.log(order);
				$scope.submissionFailure = false;
				$scope.submissionSuccess = false;
				$http.post("/api/v1/orders", order).then(
						function(response) {
							console.log(response);
							//$scope.change = response.data.message;
							$scope.submissionSuccess = true;
						}, function(errResponse) {
							console.log(errResponse);
							$scope.submissionFailure = true;
							$scope.error = "Error while making recipe";
						});

			}
		});

		/*]]>*/
	</script>

	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="recipesCtrl">
		<div class="margins"> </div>
		<div class="margins"> 
			<b id = "result" class="userHeader"></b>
			<img src="http://pluspng.com/img-png/user-png-icon-big-image-png-2240.png" width="25" height="25">  
		</div>
		<div class="margins"> </div>
		<div class="formcontainer">
			<center><h1>Order Placement</h1></center>
			<h4>Coffee Recipes</h4>
			<div>
				<ul>
					<li ng-repeat="recipe in recipes"><label>{{recipe.name}}
							<input type="radio" ng-model="$parent.name" name="name"
							value="{{recipe.name}}" required="true" />
					</label></li>
				</ul>
				<br /> <label for="amtPaid">Enter payment</label> <input type="text"
					ng-model="amtPaid" name="amtPaid" required="true" /> <br />
					<div> </div>
					<input
					type="submit" ng-click="make()" value="Place Order"
					class="btn btn-primary btn-sm" /> <br />
	
				<div ng-show="submissionSuccess" class="success">Order was
					placed. Your change is {{change}}.</div>
	
				<div ng-show="submissionFailure">An error occurred: {{error}}</div>
			</div>
			<div> </div>
			<div> </div>
			<div class="margins"> </div>
			<div class="homeLink"> 
	            <button class="btn-sm homeLink" type="button" onclick="window.location.href = 'home.html';">Return to Home</button>
	        </div> 
			<div class="margins"> </div>
		</div>
	</div>

</body>
</html>
